.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
}

.search__input {
  width: 250px;
  padding: 10px 40px;
  margin-left: 40px;
  border-radius: 5px;
  border: none;
  background: #F2F2F2;
  outline: none;
}

.searchIcon { 
  position: relative;
  top: 7px;
  left: 75px;
}

input::placeholder {
  color: black;
}

.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
